<!-- <!DOCTYPE html >  
 -->
<html >  
    <head>
        <title>create</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type='text/javascript'>
            $(document).ready(function(){
                $("#div2").hide()
                $("button").click(function(){   
                    $.ajax({
                        url:"/create/", 
                        data:$("#form_create").serialize(), 
                        type:'POST',
                        success: function(result){
                            document.getElementById("rollno").innerHTML =result.roll_no
                            document.getElementById("nam").innerHTML =result.name
                            document.getElementById("fname").innerHTML =result.father_name
                            document.getElementById("ag").innerHTML =result.age
                            document.getElementById("gen").innerHTML =result.gender

                            $("#div1").hide()
                            $("#div2").show()
                        },
                    })
                });  
            });

        </script>
    </head>
    <body>
        <h1><center> CREATE STUDENTS DATABASE </center></h1>
        <div id="div1">
            <form name="StudentDetails" id="form_create" >{% csrf_token %}
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Roll No:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="roll_no" name="roll_no" placeholder="Roll No" >
                    </div>
                </div><br/><br/><br/>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Name: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                    </div>
                </div><br/><br/>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Father Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="father_name" name="father_name" placeholder="Father Name" required>
                    </div>
                </div><br/><br/>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Age:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="age" name="age" placeholder="Age" required>
                    </div>
                </div><br/><br/>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Gender:</label>
                    <div class="col-sm-10">
                        <input type="radio" id="gender" name="gender" value="Male"  required>MALE&nbsp;&nbsp;
                        <input type="radio" id="gender" name="gender" value="Female"  required>FEMALE&nbsp;&nbsp;
                        <input type="radio" id="gender" name="gender" value="Other"  required>OTHER
                    </div>
                </div><br/><br/><br/><br/>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-success" value="Submit" style="margin-left: 338px;">Submit</button required>
                        <button type="button" class="btn btn-danger" onClick="location.href='/'" value="Cancel">Cancel</button required>
                    </div>
                </div>
            </form>
        </div>

        <div id="div2">
        <form action="">
            <div class="row">
                <div class="col-md-6"><label>Roll no:</label></div>
                <div class="col-md-6" id='rollno'></div>
            </div>

            <div class="row">
                <div class="col-md-6"><label>Name:</label></div>
                <div class="col-md-6" id='nam'></div>
            </div>

            <div class="row">
                <div class="col-md-6"><label>Father name:</label></div>
                <div class="col-md-6" id='fname'></div>
            </div>

            <div class="row">
                <div class="col-md-6"><label>Age:</label></div>
                <div class="col-md-6" id='ag'></div>
            </div>

            <div class="row">
                <div class="col-md-6"><label>Gender:</label></div>
                <div class="col-md-6" id='gen'></div>
            </div>
            <input type="button" class="btn btn-primarys" onClick="location.href='/'" value='VIEW'>

        </form>
        </div>
    </body>
</html>