<!-- <!DOCTYPE html >  
 -->
<html >  
<head>
<title>edit</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1><center> EDIT STUDENTS DATABASE </center></h1>
<form action="/edit/" method="post" onsubmit="myFunction()">{% csrf_token %}
	<input id="id" type="hidden" name="id" value="{{student.id}}">
	<div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Roll No:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="roll_no" name="roll_no" placeholder="Roll No" value="{{student.s_rollno}}" required>
      </div>
    </div><br/><br/><br/>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Name: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{student.s_name}}" required>
      </div>
    </div><br/><br/>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Father Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="father_name" name="father_name" placeholder="Father Name" value="{{student.s_fname}}" required>
      </div>
    </div><br/><br/>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Age:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="age" name="age" placeholder="Age" value="{{student.s_age}}" required>
      </div>
    </div><br/><br/>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Gender:</label>
      <div class="col-sm-10">
      	<input type="radio" id="gender" name="gender" value="Male" required {% if student.s_gender == "Male"%} checked {% endif %}>MALE
    	<input type="radio" id="gender" name="gender" value="Female" required  {% if student.s_gender == "Female"%} checked {% endif %}>FEMALE
    	<input type="radio" id="gender" name="gender" value="Other" required {% if student.s_gender == "Other"%} checked {% endif %}>OTHER
      </div>
    </div><br/><br/><br/><br/>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success" value="Submit" style="margin-left: 338px;">Submit</button required>
      </div>
    </div>

</form>
</body>