hiiiiiiiiiiiiiiiiiiiiiiiiii
<html>
<head>
</head>
<body>
<a href="/accounts/login"><button type=button>LOGOUT</button></a>
<form action="{% url 'image_upload' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <p>
        <input id="id_image" type="file" class="" name="image">
    </p>
    <input type="submit" value="Submit" />
</form>
</body>
</html>