<!-- <!DOCTYPE html >  
 -->
<html >  
    <head>
        <title>sdatabase</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.noty.packaged.min.js"></script>
    </head>
    
    <body>
        <h1><b><center>STUDENTS DATABASE</center></b></h1>
        <button type="button" class="btn btn-success" onclick="myFunction()" style="float:right;margin-right: 89px;">CREATE</button>
        <a href="/accounts/login"><button type=button>LOGOUT</button></a>
        <!-- <input type=button onClick="location.href='/accounts/login'" value='LOGOUT'> -->
        <table class="table">
            <thead>
                <tr>
                    <th>S.NO</th>
                    <th>ROLL NO</th>
                    <th>NAME</th>
                    <th>FATHER NAME</th>
                    <th>AGE</th>
                    <th>GENDER</th>
                    <th>EDIT</th>
                    <th>DELETE</th>
                </tr>
            </thead>

            <tbody>
                {% if student|length != 0 %}

                {% for i in student %}

                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.s_rollno}}</td>
                    <td>{{i.s_name}}</td>
                    <td>{{i.s_fname}}</td>
                    <td>{{i.s_age}}</td>
                    <td>{{i.s_gender}}</td>
                    <td><button type="button" class="btn btn-success" onclick="edit({{i.id}})">EDIT</button></td>
                    <td><button type="button" class="btn btn-danger" onclick="stu_delete({{i.id}})">DELETE</button></td>
	
                </tr>
                {% endfor %}
                {% else %}
                <tr><td colspan="7"><center><br /><br /><br /><br /> NO DATA TO DISPLAY</center></td></tr>
                {% endif %}
            </tbody>
        </table>

        <script>
            function myFunction() {
            window.location="/create/";
            }
            function edit(id) {
            window.location="/edit/?id="+id;
            }
            function stu_delete(id) {
            window.location="/delete/?id="+id;
            }
        </script> 

        <script type="text/javascript">
            $(document).ready(function(){
            {% if messages %}
                {% for message in messages %}
                    var n = noty({
                        text: "{{message}}",
                        type : '{{message.tags}}',
                        layout      : 'center',
                        closeWith   : ['click'],
                        theme       : 'relax',
                        timeout     : 3000,
                        });
                {% endfor %}
            {% endif %}
            });
        </script>
    </body>