<html>
	<head>
		<title>Movies Dashboard</title>
		
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>

	<body>
		<h1><b><center>DASHBOARD (MOVIES)</center></b></h1>
		<a style="float: right" href="/accounts/logout"><button type=button>LOGOUT</button></a><br/><br/><br/>

		{% for i in picture %}
			{{forloop.counter}}) {{i.description}}<br /><br />
			<img src='media/{{i.model_pic}}' width=500 height=300 onclick="movie_review({{i.id}})" /><br /><br /><br />
			
		{% endfor %}

		<script>
			function movie_review(id) {
		            window.location="/review/?id="+id;
		            }
		</script>
	</body>
</html>






