<html>

	<head>
		<title>welcome to the movie reviews</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>

	<body>
		<h1><b><center>Welcome to the movies review </center></b></h1>
		 <a style="float: right" href="/accounts/logout"><button type=button>LOGOUT</button></a>
		 <a style="float: left" href="/"><button type=button>BACK</button></a><br/><br/><br/>
		<div>
		{% csrf_token %}
			
			{{movie.description}}<br /><br />
			<center><input id="id" type="hidden" name="id" value="{{movie.id}}">
			<img src='/media/{{movie.model_pic}}' width=600 height=400 /><br />
			<p><input type="button" id="count"  value="Like" /></p>
	    	<p id="like_val">{{ movie.likes }}</p>
	    	<p><input type="button" id="count1"  value="DisLike" /></p>
	    	<p id="dislike_val">{{ movie.dislikes }}</p></center>

		    <div class="form-group">
		        
		        <br/><br/><br/>
		        <span id = "r_status"></span>
		        <br/>
		        <p>Previous user rating: {{ movie.previous_rating }}
		        <div class="col-sm-10">
		        	
		        	<label class="control-label col-sm-2" for="pwd">Give your Ratings:</label>
		        	<br/><br/><br/>
		            <input type="checkbox" id="1" name="ratings[]" value="1"  >
		            <input type="checkbox" id="2" name="ratings[]" value="2"  >
		            <input type="checkbox" id="3" name="ratings[]" value="3"  >
		            <input type="checkbox" id="4" name="ratings[]" value="4"  >
		            <input type="checkbox" id="5" name="ratings[]" value="5"  >
		            <input type='button' id="submit" value="submit">
		            
		        </div>
		    </div><br/><br/>

		    <div id="rate">
		    	<b>User ratings is</b><p id="dis">{{ movie.rating }}</p>
		    </div>
		     <span id = "stars"></span>
		    <div id="rat">
		    	
		    	<b>Overall ratings :</b> {{movie.overall_rate}}<br/><br/>
		    </div>
		    <b>User comments:&nbsp;&nbsp;</b><br/><br/>

		    <div id="commented">
		    	
		    	{% for i in movie_comments %}
		    		<p id="comment_text">{{i.comment_user}} : {{i.comment}}</p>
		    	{% endfor%}
		    </div>

		    <p ><input  type="text"
	                                    cols="40" 
	                                    rows="5" 
	                                    style="width:200px; height:50px;" 
	                                    id="Text1" 
	                                    >
	                                    </p>
	        <input type='button' id="comment" value="post comment">
		</div>

	{% block content %}

		<script>
			var star_count = {{ movie.rating }}
         console.log(star_count)
         
        if (star_count > 0) {
			$("#1").attr("checked", 'true');
			$("#r_status").html('Previous user status:POOR');
			if (star_count > 1) {
				$("#2").attr("checked", "true"); 
				$("#r_status").html('Previous user status:NOT NICE');
				if (star_count > 2) {
					$("#3").attr("checked", "true");
					$("#r_status").html('Previous user status:AVERAGE');
					if (star_count > 3) {
						$("#4").attr("checked", "true"); 
						$("#r_status").html('Previous user status:GOOD');
						if (star_count > 4) {
							$("#5").attr("checked", "true"); 
							$("#r_status").html('Previous user status:AWESOME');
						}
					}
				}
			}
		} else{
			$("#r_status").html('Previous status:NOT RATED');
        }

			$('#count').click(function(){
				
				var id= $("#id").val()
				console.log(id)
				var like = $("#like_val").text();
				console.log(like_val)

				$.ajax({
					type: "POST",
					url: '.',
					data:{'like': like, 'flag':1, 'id':id,'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()},
					dataType: "json",
					success: function(response) {
						$('#like_val').text(response.likes)
					}
				})
			});

			
			$("#count1").click(function(){

				var id= $("#id").val()
				var dislike = $("#dislike_val").text();

				$.ajax({
					type: "POST",
					url: '.',
					data:{'dislike':dislike,'flag':0, 'id':id,'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()},
					dataType: "json",
					success: function(response) {
						$('#dislike_val').text(response.dislikes)
						
					}
				})
			});

			$("#submit").click(function(){
				var id= $("#id").val()
				var a= $('input[type="checkbox"]:checked').length;
				console.log(a,'aaaaaaaaaaa')
				
				$.ajax({
					type: "POST",
					url:'.',
					data:{'a':a,'flag':2, 'id':id, 'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()},
					dataType: "json",
					success: function(response){
						$('#dis').text(response.rating)
						var status;
	                    var star_number = response.rating;
	                    if (star_number == 0){
	                        status = "NOT RATED";  
	                    }
	                    else if(star_number == 1){
	                        status = "BAD";                  
	                    }
	                    else if(star_number == 2){
	                        status = "NOT NICE"; 
	                    }
	                    else if(star_number == 3){
	                        status = "AVERAGE"; 
	                    }
	                    else if(star_number == 4){
	                        status = "GOOD"; 
	                    }
	                    else if(star_number == 5){
	                        status = "AWESOME"; 
	                    }
	                    
	                    $("#stars").html("<b>Your Rating is:</b>&nbsp;&nbsp;"+response.rating+" <b> status:</b>&nbsp;&nbsp;"+status+ "<br/><br/><br/>");
	                    	$("#rate").hide()
	                    
                           overall_ratings();
					}
				})
			});

			$("#comment").click(function(){
				var text = $('#Text1').val()
				console.log(text)
				if(text == ""){
					console.log(text)
					alert("please enter the text")
					return false
				}
				else{

					var id= $("#id").val()
					var b = $("#Text1").val();
					console.log(b)

					$.ajax({
						type: "POST",
						url:'.',
						data: {'b':b,'flag':3, 'id':id, 'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()},
						dataType : "json",
						success: function(response){
							console.log(response.text)
							var text="";
							for (i = 0; i < response.text.length; i++)
				                    {
				                    	text +=response.text[i].user 
				                    	+ ":" + "&nbsp;&nbsp;" + response.text[i].user_comments + "<br/><br/>"; 
				                    }
				                    $("#commented").html(text);
				                    $("#Text1").val("")    
				                },
				    });}
			});

			function overall_ratings()
			{
				
				var id= $("#id").val();
				var a= $('input[type="checkbox"]:checked').length;
				console.log(a,'aaaaaaaaaaa');

				$.ajax({
					type: "POST",
					url:'.',
					data:{'a':a,'flag':5, 'id':id, 'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()},
					dataType: "json",
					success: function(response){
						$("#rat").html("<b>Overall ratings :</b>"+response.overall+"<br/><br/>")
						alert("Thanks for Ratings..!!")
					}
				})
			}		



		</script>

	{% endblock %}

	</body>
</html>
