{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}

{% block content %}
<p>{% trans "Successfully logged out" %}.</p>
<p><a style="float: right" href="/accounts/login"><button type=button>LOGIN</button></a><br/><br/><br/></p>

{% endblock %}

